<%- include("partials/header") -%>
<h1>Home</h1>
<p>
    <%= startingContent %>
</p>
<!-- WRITE ALL PUBLISHED POSTS -->
<div>
    <% postsArray.forEach(function(post){ %>
        <!-- LOG EACH POST -->
        <div>
            <h1><%=post.title%></h1>
            <p><%=post.content.substring(0,100)%> ...<a href= "/posts/<%=post.title%>">Read More</a></p>
        </div>

    <% }); %>
</div>
<%- include("partials/footer") -%>